.loginui {
  display: inline-block;
  margin: 1ex;
}

.loginui > div > label {
  display: none;
}

.loginui input[type=text], .loginui input[type=password] {
  margin: 0.1em;
  border: 0 none;
  width: 12.9em;
  box-shadow: inset 0 0 0.1em 0 rgba(0,0,0,0.175);
}

.loginui .firstline::after {
  display: inline-block;
  content: '';
  width: 4em;
}

.loginui input[type=submit] {
  width: 4em;

  background-color: #f8f8f8;
  border: 0.1em solid #f8f8f8;

  transition-property: border, background-color, color, text-shadow;
  transition-duration: 0.4s;
}
.loginui input[type=submit]::-moz-focus-inner {
  padding: 0.2em 1em 0.2em 1em !important;
  border: 0 none !important;
  margin: 0;
  margin-top: -0.2em;
  margin-bottom: -0.2em;
}

.loginui input[type=submit]:hover {
  color: white;
  text-shadow: 0 -0.05em 0 rgba(0,0,0,0.5);

  transition-property: border, background-color, color, text-shadow;
  transition-duration: 0.4s;

  background-color: rgb(26, 116, 176);
  border: 0.1em solid white;
}

/***************************************************/

.languagelist { }

.languagelist li {
  margin-right: 6.7em;
}

/***************************************************/

.quicklinkslist { }

/***************************************************/

main.ufind-main:not(.loggedin) + header.ufind-menu .watchlist { display: none !important; }

/***************************************************/
