<html lang="html">
<head>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

    <style type="text/css">
        #mynetwork {
            width: 100%;
            height: 100%;
            border: 1px solid lightgray;
        }
    </style>
    <title>Modules Dependencies</title>
</head>
<body>
<div id="mynetwork"></div>

<script type="text/javascript">
    let graph = {{{graph}}};
    console.log(graph);
    // create an array with nodes
    var nodes = new vis.DataSet(graph.nodes);

    // create an array with edges
    var edges = new vis.DataSet(graph.edges);

    // create a network
    var container = document.getElementById('mynetwork');

    // provide the data in the vis format
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {
        interaction: {
            multiselect: true
        },
        manipulation: {
            enabled: true

        },
        layout: {
            improvedLayout: true
        },
        edges: {
            arrows: 'to'
        },
        groups: {
            algorithms: {}
        }
    };

    // initialize your network!
    var network = new vis.Network(container, data, options);
    network.on('selectNode', function(event) {
        let selectedNodeId = event.nodes[event.nodes.length - 1];
        let children = getAllChildren(selectedNodeId);
        network.selectNodes([...network.getSelectedNodes(), ...children]);
    });

    function getAllChildren(nodeId) {
        let result = [nodeId];
        for (var child of network.getConnectedNodes(nodeId, 'to'))
            result.push(child);
        //result.push(...getAllChildren(child));
        return result;
    }
</script>
</body>
</html>
